NEXT_PUBLIC_SEPOLIA_RPC_URL=
RELAY_LOGS_RPC_URL=https://sepolia.gateway.tenderly.co
RELAY_RPC_URL=
RELAY_ROOT_NAME=sodalabs.eth
RELAY_ROOT_OWNER=
OPENAI_API_KEY=
OPENWEATHER_API_KEY=
RELAY_ADMIN_TOKEN=
RELAY_SECRET=
FUNDER_PRIVATE_KEY=
RELAY_PUBLIC_URL=http://127.0.0.1:3000
DSTACK_SIMULATOR_ENDPOINT=http://localhost:8090
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
RELAY_ATTESTATION_URL=
